body{
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
h1{
    margin:0;
    padding: 2rem;
    font-size: 8rem;
    color:#4ECCA3; 
}
h2{
        margin: 0;
        padding: 2rem;
        font-size: 3rem;
        color: #4ECCA3;
}
p{
    margin: 0;
    padding: 0;
}
img{
    width: 14rem;
    margin:1rem 2rem;
}
#main-container{
    padding: 4rem 12rem;
    text-align: center;
    background-color: #393E46;
}
.container-1{
    text-align: right;
    padding: 2rem;
}
.container-2{
    text-align: left;
    padding: 2rem;
    
}
.bottom-section{
    padding: 1rem;
    font-size: 1rem;

}